# Airbnb Housing Reviews - User-based Recommender

#### Group members: Kuangyi Zhang, Lanyixuan Xu, Jie Bao

## 1. Data Preprocessing

In [242]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import string

In [243]:
housing_reviews = pd.read_table("reviews.csv", header='infer', delimiter=",", na_values='NaN')

In [244]:
housing_reviews.shape

(132353, 7)

In [245]:
housing_reviews.head()

,listing_id,id,date,reviewer_id,reviewer_name,rating,comments
0,1301530,13937403,6/8/14,55,Deborah,93,Great location downtown near everything! Host ...
1,192652,708419,11/10/11,99,Laura,97,"Stephanie was awesome! Highly recommended, gre..."
2,14081954,146698448,4/23/17,464,Jamison,100,The place was so cool. The whole family loved ...
3,9452418,75922280,5/23/16,706,Eamon,100,Anne is a very thoughtful host who left all th...
4,3385966,108126286,10/14/16,1143,Katie,97,"Chad's place is awesome! It's a quiet, clean, ..."

In [246]:
housing_reviews.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
listing_id,132353,NaN,NaN,NaN,7.32167e+06,5.08661e+06,2384,2.73061e+06,6.88433e+06,1.19731e+07,1.85981e+07
id,132353,NaN,NaN,NaN,8.26275e+07,4.17666e+07,849,4.85532e+07,8.64855e+07,1.14583e+08,1.51007e+08
date,132353,2267,3/19/17,780,NaN,NaN,NaN,NaN,NaN,NaN,NaN
reviewer_id,132353,NaN,NaN,NaN,3.96426e+07,3.28041e+07,55,1.19079e+07,3.12252e+07,6.14423e+07,1.29263e+08
reviewer_name,132353,22527,Michael,1333,NaN,NaN,NaN,NaN,NaN,NaN,NaN
rating,132353,NaN,NaN,NaN,94.834,4.5955,0,93,96,98,100
comments,132206,130167,The host canceled this reservation the day bef...,211,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Drop the missing value

In [247]:
drop_rating_index = housing_reviews.index[housing_reviews['rating'] == 0]
drop_rating_index.tolist()
len(drop_rating_index)

43

In [248]:
housing_reviews = housing_reviews.drop(housing_reviews.index[drop_rating_index])
housing_reviews.shape

(132310, 7)

In [249]:
housing_reviews = housing_reviews[~housing_reviews['comments'].isnull()] 
housing_reviews = housing_reviews[~housing_reviews['rating'].isnull()] 
housing_reviews.shape

(132163, 7)

In [250]:
recommend = housing_reviews[['listing_id', 'reviewer_id', 'rating']]
recommend

        listing_id  reviewer_id  rating
0          1301530           55      93
1           192652           99      97
2         14081954          464     100
3          9452418          706     100
4          3385966         1143      97
5         12153109         1169      92
6         12891430         1744      91
7          6150893         1956      98
8          1127661         2038      98
9          4667333         3240      90
10          555140         3671      95
11          726376         3852      93
12        10252775         4031      90
13         8341890         4607      99
14          773127         4969      96
15          110705         4969      97
16          726376         4969      93
17         1243168         5267      94
18         2473938         5267      96
19         2473938         5267      96
20         3952473         5273      98
21         8633858         5695      98
22          873628         5859      99
23            4505         5887      95
24            4505         6976      95
25         9156857         7108      93
26         3666299         7203      92
27            4505         7238      95
28         1614802         7336      98
29        14809010         7610      92
...            ...          ...     ...
132323    18293990    128035302     100
132324     1171860    128054152      94
132325    16915870    128092432     100
132326    17423117    128128330     100
132327     9690523    128146373      95
132328     6686012    128259533      98
132329    17348093    128276469     100
132330     7632657    128283994      96
132331      397472    128285852      87
132332    16826474    128296801      92
132333     9550310    128297662      87
132334      641526    128302385      84
132335    15628879    128313623      99
132336    12158686    128372948      94
132337    16947779    128404978     100
132338    15041932    128419433      90
132339    15642889    128467248     100
132340    12467112    128475396      96
132341    13895259    128548830     100
132342    18341273    128552810     100
132343    18490659    128612521     100
132344     7386488    128624236      97
132345    16365205    128753130      94
132346    18134292    128928290     100
132347     9589373    129011580      97
132348    17906320    129024548     100
132349    18359380    129073818     100
132350    14339201    129177179      99
132351    13014320    129181647      97
132352    15484924    129263162      94

[132163 rows x 3 columns]

In [251]:
upper_2 = recommend['reviewer_id'].value_counts() > 3
users = upper_2[upper_2].index.tolist()
print len(users)

582

In [252]:
recommend = recommend[recommend['reviewer_id'].isin(users)]
recommend.shape

(2999, 3)

In [253]:
recommend.groupby('reviewer_id')['reviewer_id'].count()

reviewer_id
50034         6
76903         4
104815        6
140995        5
183420        5
196524        5
210853        7
218987        4
228969        9
266837        4
272175        4
272671        4
325060        4
339072        5
344321        4
361347        4
376244        4
387036        4
422798        4
469552        4
485037        7
500760        5
546558        5
555266        7
593406        5
646754        6
700681        4
704642        9
757757        4
794216        4
             ..
97091849      4
97705358      4
98742409     35
100121030     4
100205425     5
101135232     4
101280146     5
101754816     4
103256617     4
103898963    11
105577955     4
105758734     4
106419727     4
106845239     6
106896964     4
108177511     4
109058956     5
109249300     7
109484542     7
109576079     4
110353664     5
111269521     4
111963179     6
112170044     4
113353272     4
114269563     4
115765194     4
116588584     5
118859868     4
122903399     8
Name: reviewer_id, Length: 582, dtype: int64

In [254]:
recommend.describe(include="all").T

,count,mean,std,min,25%,50%,75%,max
listing_id,2999.0,7.436787e+06,5.354434e+06,2384.0,2503128.0,6700654.0,12590517.0,18139782.0
reviewer_id,2999.0,3.045511e+07,3.017312e+07,50034.0,6511426.0,21404852.0,44387734.0,122903399.0
rating,2999.0,9.532177e+01,4.084109e+00,58.0,94.0,96.0,98.0,100.0

In [255]:
np.unique(recommend["listing_id"]).shape

(1311,)

In [256]:
np.unique(recommend["reviewer_id"]).shape

(582,)

In [257]:
recommend.shape

(2999, 3)

In [258]:
list_id=recommend.iloc[0:,0].unique()
review_id = recommend.iloc[0:,1].unique()

In [259]:
print len(list_id), len(review_id)

1311 582

In [260]:
dict = {}
for user in review_id:
    dict[user] = {}
number = 0
for i in range(len(recommend)):
    dict[recommend.iloc[i].reviewer_id][recommend.iloc[i].listing_id] = recommend.iloc[i].rating

In [261]:
dict[50034]

{3984383: 99, 8824905: 95, 13857415: 94, 13858506: 98, 16146505: 99}

In [262]:
recommend[recommend['reviewer_id'] == 50034]

     listing_id  reviewer_id  rating
307     3984383        50034      99
308     3984383        50034      99
309     8824905        50034      95
310    13857415        50034      94
311    13858506        50034      98
312    16146505        50034      99

In [263]:
recommend_list = []
for user in review_id:
    user_review = []
    for list in list_id:
        if list in dict[user].keys():
            user_review.append(dict[user][list])
        else:
            user_review.append(0)
    recommend_list.append(user_review)

In [264]:
dataMat =np.array(recommend_list)
dataMat

array([[ 99,  95,  94, ...,   0,   0,   0],
       [  0,   0,   0, ...,   0,   0,   0],
       [  0,   0,   0, ...,   0,   0,   0],
       ...,
       [  0,   0,   0, ...,   0,   0,   0],
       [  0,   0,   0, ...,   0,   0,   0],
       [  0,   0,   0, ..., 100,  98,  95]])

## 2. Mean Absolute Error (MAE)

In [265]:
from numpy import *
from numpy import linalg as la
import numpy as np

In [266]:
U,Sigma,VT = la.svd(mat(dataMat))
Sig2=Sigma**2
sum(Sig2)

20834152.0

In [268]:
sum(Sig2[: 400])

19058481.782935306

In [269]:
def ecludSim(inA,inB):
    return 1.0 / (1.0 + la.norm(inA - inB))

def pearsSim(inA,inB):
    if len(inA) < 3 : return 1.0
    return 0.5 + 0.5 * corrcoef(inA, inB, rowvar = 0)[0][1]

def cosSim(inA,inB):
    num = float(inA.T * inB)
    denom = la.norm(inA)*la.norm(inB)
    return 0.5 + 0.5 * (num / denom)

def standEst(dataMat, user, simMeas, item):
    n = shape(dataMat)[1]
    simTotal = 0.0; ratSimTotal = 0.0
    for j in range(n):
        userRating = dataMat[user,j]
        if userRating == 0: continue
        overLap = nonzero(logical_and(dataMat[:,item]>0, \
                                      dataMat[:,j]>0))[0]
        if len(overLap) == 0: similarity = 0
        else: similarity = simMeas(dataMat[overLap,item], \
                                   dataMat[overLap,j])
        #print 'the %d and %d similarity is: %f' % (item, j, similarity)
        simTotal += similarity
        ratSimTotal += similarity * userRating
    #print 'standEst:', ratSimTotal, simTotal  
    if simTotal == 0: 
        return 0
    else: 
        return ratSimTotal/simTotal
    
def svdEst(dataMat, user, simMeas, item):
    n = shape(dataMat)[1]
    simTotal = 0.0; ratSimTotal = 0.0
    data=mat(dataMat)
    U,Sigma,VT = la.svd(data)
    Sig400 = mat(eye(400)*Sigma[:400]) #arrange Sig4 into a diagonal matrix
    xformedItems = data.T * U[:,:400] * Sig400.I  #create transformed items
    for j in range(n):
        userRating = data[user,j]
        if userRating == 0 or j==item: continue
        similarity = simMeas(xformedItems[item,:].T,\
                             xformedItems[j,:].T)
        #print 'svdEst:', similarity 
        #print 'the %d and %d similarity is: %f' % (item, j, similarity)
        simTotal += similarity
        ratSimTotal += similarity * userRating 
    if simTotal == 0: return 0
    else: return ratSimTotal/simTotal

def cross_validate_user(dataMat, user, test_ratio, estMethod=standEst, simMeas=ecludSim):
    number_of_items = np.shape(dataMat)[1]
    rated_items_by_user = np.array([i for i in range(number_of_items) if dataMat[user,i]>0])
    
    test_size = int(test_ratio * len(rated_items_by_user))
    test_indices = np.random.randint(0, len(rated_items_by_user), test_size)
    withheld_items = rated_items_by_user[test_indices]
    original_user_profile = np.copy(dataMat[user])
    dataMat[user, withheld_items] = 0 # So that the withheld test items is not used in the rating estimation below
    error_u = 0.0
    count_u = len(withheld_items)

    # Compute absolute error for user u over all test items
    for item in withheld_items:
        # Estimate rating on the withheld item
        estimatedScore = estMethod(dataMat, user, simMeas, item)
        #print 'estimatedScore:', estimatedScore
        error_u = error_u + abs(estimatedScore - original_user_profile[item])
        #print error_u
        
    # Now restore ratings of the withheld items to the user profile
    for item in withheld_items:
        dataMat[user, item] = original_user_profile[item]

    # Return sum of absolute errors and the count of test cases for this user
    # Note that these will have to be accumulated for each user to compute MAE
    return error_u, count_u

In [270]:
def testMAE(dataMat, test_ratio, Method):
    total_error = 0
    total_count = 0
    for i in range(np.shape(dataMat)[0]):
        if Method == "standEst":
            error_u, count_u = cross_validate_user(dataMat, i, test_ratio, estMethod=standEst)
        elif Method == "svdEst":
            error_u, count_u = cross_validate_user(dataMat, i, test_ratio, estMethod=svdEst)
        total_error += error_u
        total_count += count_u
        #print error_u, count_u
    #print total_error, total_count
    print 'Mean Absoloute Error for', Method, ':', total_error/total_count

In [271]:
testMAE(dataMat, 0.2, "svdEst")

Mean Absoloute Error for svdEst : 3.6594461785678183

## 3. User-based-Collaborative-Filtering

In [357]:
import operator
def most_similar_users_test(dataMat, userid, queryUser, k, metric=pearsSim):
    user  = dataMat[queryUser]
    sim = {}
    index = 0
    for i in dataMat:
        similarity = metric(i, user)
        if(similarity == 1):
            index = index + 1
            continue
        sim[index] = similarity
        index = index + 1
    sorted_keys = sorted(sim.items(), key=operator.itemgetter(1), reverse=True)
    print 'Selected User:'
    print userid[queryUser], '\n'
    print 'Top', k, 'Most similar users are :'
    index = 0
    for key, values in sorted_keys:
        if(index == k):
            break
        print userid[key], '\n'
        print '----------------------'
        index += 1
    return sorted_keys

In [307]:
print dataMat[0]

[99 95 94 ...  0  0  0]

In [358]:
similar_users = most_similar_users_test(dataMat, review_id, 4, 3)

Selected User:
183420

Top 3 Most similar users are :
1424369

----------------------
272671

----------------------
76903

----------------------

In [335]:
similar_users

[(45, 0.7275205321051251),
 (11, 0.6375155600616536),
 (1, 0.6212422194931204),
 (366, 0.6198533563922091),
 (119, 0.6099526718110662),
 (524, 0.6070805793454697),
 (62, 0.6025077435365275),
 (3, 0.5951111412947333),
 (37, 0.5848065052864915),
 (294, 0.5744633182021677),
 (66, 0.49914734810260414),
 (455, 0.49914734810260414),
 (48, 0.4991473481026041),
 (50, 0.4991473481026041),
 (52, 0.4991473481026041),
 (53, 0.4991473481026041),
 (88, 0.4991473481026041),
 (94, 0.4991473481026041),
 (107, 0.4991473481026041),
 (121, 0.4991473481026041),
 (122, 0.4991473481026041),
 (128, 0.4991473481026041),
 (180, 0.4991473481026041),
 (188, 0.4991473481026041),
 (197, 0.4991473481026041),
 (229, 0.4991473481026041),
 (252, 0.4991473481026041),
 (332, 0.4991473481026041),
 (349, 0.4991473481026041),
 (409, 0.4991473481026041),
 (410, 0.4991473481026041),
 (434, 0.4991473481026041),
 (469, 0.4991473481026041),
 (471, 0.4991473481026041),
 (487, 0.4991473481026041),
 (528, 0.4991473481026041),
 (560, 0.4991473481026041),
 (567, 0.4991473481026041),
 (576, 0.4991473481026041),
 (518, 0.49880183241674975),
 (47, 0.49879900132842003),
 (134, 0.4987968117224232),
 (420, 0.4987967444985075),
 (207, 0.49879588428545185),
 (440, 0.49879507505728193),
 (249, 0.49879477711726583),
 (296, 0.49879477711726583),
 (514, 0.4987947549809357),
 (282, 0.49879455317253507),
 (261, 0.4987945014674697),
 (480, 0.4987943095614336),
 (308, 0.4987942970954008),
 (461, 0.49879428501255557),
 (368, 0.498794148623351),
 (452, 0.498794148623351),
 (108, 0.4987941301636892),
 (63, 0.49879410457354983),
 (190, 0.49879397525963015),
 (164, 0.49879396434012485),
 (303, 0.4987939591292562),
 (382, 0.4987939591292562),
 (577, 0.49879385661605213),
 (29, 0.4987938535445648),
 (212, 0.4987938535445648),
 (334, 0.4987938535445648),
 (411, 0.4987938476797916),
 (251, 0.4987937745450225),
 (136, 0.4987937731580821),
 (262, 0.4987937731580821),
 (490, 0.4987937731580821),
 (306, 0.49879377181381074),
 (343, 0.49879377181381074),
 (346, 0.49879377181381074),
 (102, 0.49879377051047596),
 (305, 0.49879377051047596),
 (456, 0.49879377051047596),
 (504, 0.49879377051047596),
 (41, 0.4987937692464323),
 (263, 0.4987937692464323),
 (285, 0.49879376924643226),
 (206, 0.4987937238345721),
 (422, 0.4987937238345721),
 (192, 0.49879372350363443),
 (270, 0.49879372350363443),
 (283, 0.49879372350363443),
 (210, 0.4987937235036344),
 (82, 0.4987937231827246),
 (95, 0.4987937231827246),
 (163, 0.4987937231827246),
 (286, 0.4987937231827246),
 (372, 0.49879372287144147),
 (517, 0.49879372287144147),
 (21, 0.49879370761788044),
 (26, 0.49879370761788044),
 (117, 0.49879370761788044),
 (129, 0.49879370761788044),
 (158, 0.49879370761788044),
 (161, 0.49879370761788044),
 (181, 0.49879370761788044),
 (191, 0.49879370761788044),
 (355, 0.49879370761788044),
 (489, 0.49879370761788044),
 (535, 0.49879370761788044),
 (166, 0.49852662231277695),
 (298, 0.4985241887856547),
 (143, 0.4985241466309157),
 (172, 0.49852401339088465),
 (205, 0.498523963503311),
 (140, 0.49852392305192894),
 (175, 0.49852392305192894),
 (258, 0.4985239208115933),
 (289, 0.4985239074383839),
 (22, 0.49852350520679367),
 (362, 0.4985234322006084),
 (428, 0.4985234008734556),
 (123, 0.49852321729066),
 (28, 0.4985231825792232),
 (264, 0.4985231184910191),
 (531, 0.4985229475630755),
 (561, 0.49852289728487464),
 (312, 0.49852282680153454),
 (316, 0.4985227814490144),
 (16, 0.49852274876049385),
 (444, 0.4985227309802614),
 (379, 0.4985227045718967),
 (540, 0.4985226907509483),
 (575, 0.4985226643025859),
 (81, 0.4985226039715013),
 (56, 0.49852259214432165),
 (127, 0.49852259214432165),
 (578, 0.4985225844631776),
 (426, 0.49852256956974134),
 (512, 0.49852255256998335),
 (267, 0.49852254647156996),
 (148, 0.4985225313106885),
 (527, 0.4985224874950157),
 (525, 0.49852247815246237),
 (89, 0.4985224751024852),
 (230, 0.49852242597195373),
 (220, 0.4985224177862948),
 (70, 0.49852240985497337),
 (103, 0.4985224098549733),
 (360, 0.498522402167562),
 (126, 0.49852240216756194),
 (377, 0.4985223947141622),
 (104, 0.4985223837807641),
 (350, 0.4985223626866706),
 (497, 0.49852233502200705),
 (248, 0.498522312845493),
 (160, 0.49852231095232197),
 (356, 0.49852226868539173),
 (548, 0.49852226387549453),
 (32, 0.49852225921253907),
 (485, 0.49852225842655),
 (376, 0.4985222492137783),
 (385, 0.4985222448195536),
 (414, 0.4985222448195536),
 (347, 0.49852224055912103),
 (437, 0.4985222061889276),
 (77, 0.49852220256541535),
 (202, 0.49852220256541535),
 (272, 0.4985221617001948),
 (315, 0.4985221608185279),
 (57, 0.4985221590825669),
 (58, 0.4985221582280218),
 (91, 0.4985221565451909),
 (139, 0.4985221565451909),
 (325, 0.4985221565451909),
 (46, 0.49852215408481954),
 (184, 0.49852215408481954),
 (542, 0.49852215408481954),
 (235, 0.4985221532812703),
 (564, 0.4985221116087433),
 (317, 0.4985221058841517),
 (42, 0.4985221044340675),
 (421, 0.4985221044340675),
 (105, 0.4985221030279938),
 (113, 0.4985221030279938),
 (187, 0.4985221030279938),
 (276, 0.4985221030279938),
 (403, 0.4985221030279938),
 (116, 0.4985221025687754),
 (407, 0.4985220987034217),
 (321, 0.49852209203225284),
 (329, 0.49852209203225284),
 (539, 0.49852209203225284),
 (135, 0.498522089653971),
 (149, 0.498522089653971),
 (101, 0.4985220885201779),
 (522, 0.4985220885201779),
 (109, 0.49852208742126697),
 (51, 0.4985220863558219),
 (278, 0.4985220863558219),
 (556, 0.49852208532249753),
 (470, 0.4985220558796517),
 (408, 0.4985220534400055),
 (451, 0.4985220533099836),
 (9, 0.49852205267999106),
 (405, 0.49852205255788684),
 (226, 0.49852205231743124),
 (460, 0.49852205231743124),
 (155, 0.49852205219904566),
 (532, 0.49852205219904566),
 (236, 0.49852205196587596),
 (313, 0.4985220518510595),
 (90, 0.49852205162488444),
 (502, 0.4985220516248844),
 (222, 0.498522051513495),
 (515, 0.4985220349439939),
 (219, 0.49852203494399383),
 (365, 0.49852203494399383),
 (579, 0.4983007030683253),
 (424, 0.4982994183569368),
 (275, 0.49829869406680344),
 (79, 0.49829777557147753),
 (562, 0.4982975011954068),
 (299, 0.4982974176470108),
 (232, 0.49829698123861427),
 (454, 0.49829653711562794),
 (216, 0.4982964181398894),
 (492, 0.49829637552118056),
 (354, 0.49829619354829185),
 (310, 0.4982961573914272),
 (439, 0.49829611001326074),
 (488, 0.4982960477412181),
 (371, 0.4982960137065609),
 (503, 0.49829599265963687),
 (397, 0.49829593882942386),
 (152, 0.49829588545897796),
 (571, 0.49829588545897796),
 (549, 0.49829586734411907),
 (526, 0.4982958660347381),
 (218, 0.4982958002699167),
 (67, 0.4982956881215622),
 (83, 0.49829565601539394),
 (86, 0.4982954987081055),
 (173, 0.4982954796638503),
 (295, 0.4982954691282931),
 (221, 0.4982954561848904),
 (33, 0.4982954424197006),
 (118, 0.49829543118521075),
 (555, 0.49829539883969953),
 (59, 0.4982953643785455),
 (486, 0.4982951083285232),
 (271, 0.49829501834842177),
 (246, 0.49829486800897055),
 (381, 0.4982948176981328),
 (114, 0.49829474912977595),
 (314, 0.4982945736809913),
 (566, 0.49829449798586845),
 (242, 0.4982944648055967),
 (507, 0.498294433501897),
 (367, 0.49829439451034224),
 (247, 0.4982943713500441),
 (389, 0.49829429658926605),
 (361, 0.4982942652046031),
 (483, 0.4982942402374561),
 (464, 0.4982941784653808),
 (97, 0.49829415686382406),
 (546, 0.4982941233084168),
 (209, 0.49829409469887076),
 (318, 0.49829407647865664),
 (511, 0.4982940469073017),
 (185, 0.49829404340251815),
 (255, 0.4982940305297329),
 (370, 0.4982940033395546),
 (580, 0.4982939908734965),
 (357, 0.49829398816147064),
 (496, 0.4982939828075651),
 (322, 0.4982939390327915),
 (326, 0.49829392490410823),
 (396, 0.4982939137545605),
 (387, 0.49829388788047313),
 (256, 0.498293853821454),
 (68, 0.49829383021909235),
 (281, 0.49829379541908186),
 (559, 0.49829378059396723),
 (273, 0.49829374323843995),
 (291, 0.49829374323843995),
 (474, 0.4982937418522781),
 (544, 0.49829372715596365),
 (499, 0.4982937140837589),
 (253, 0.49829370170168175),
 (292, 0.4982936634109718),
 (563, 0.49829366004970327),
 (466, 0.4982936408017569),
 (423, 0.4982936348824471),
 (69, 0.4982936251058841),
 (225, 0.49829362215154915),
 (199, 0.4982936116739962),
 (106, 0.49829360407458995),
 (537, 0.49829360407458995),
 (330, 0.49829359761848396),
 (404, 0.49829359761848396),
 (369, 0.49829358152701425),
 (154, 0.4982935769835261),
 (38, 0.498293550989874),
 (194, 0.49829354606942855),
 (223, 0.49829352937964994),
 (214, 0.498293514656536),
 (475, 0.4982935142205433),
 (319, 0.49829351316187),
 (328, 0.49829350435744135),
 (441, 0.49829350435744135),
 (547, 0.49829350435744135),
 (14, 0.49829348864132594),
 (412, 0.49829348221560454),
 (19, 0.4982934665221846),
 (265, 0.49829345132132064),
 (553, 0.4982934506357268),
 (533, 0.4982934110811059),
 (304, 0.4982934064396147),
 (71, 0.4982933776756776),
 (12, 0.49829335797205054),
 (61, 0.4982933478652755),
 (429, 0.49829333003917153),
 (482, 0.4982933145918432),
 (506, 0.49829329755410107),
 (168, 0.4982932973836859),
 (302, 0.4982932859602057),
 (137, 0.4982932844412706),
 (156, 0.4982932748844177),
 (288, 0.4982932711379196),
 (386, 0.4982932676086511),
 (530, 0.49829326534352275),
 (138, 0.49829325097313765),
 (394, 0.4982932453560906),
 (269, 0.49829324336046404),
 (150, 0.4982932405007686),
 (72, 0.49829323288292643),
 (388, 0.4982932303471599),
 (463, 0.49829322272924054),
 (510, 0.49829321452756364),
 (284, 0.4982932048763792),
 (543, 0.4982931954602608),
 (208, 0.4982931824279992),
 (384, 0.4982931824279992),
 (395, 0.4982931746949583),
 (31, 0.4982931688271432),
 (10, 0.49829316010549995),
 (473, 0.4982931495709958),
 (162, 0.4982931475560244),
 (217, 0.4982931475560244),
 (240, 0.4982931475560244),
 (290, 0.49829313085180277),
 (237, 0.4982931271103767),
 (13, 0.4982931231230515),
 (18, 0.4982931228823516),
 (478, 0.49829308449344056),
 (54, 0.4982930774152882),
 (309, 0.4982930774152882),
 (523, 0.49829307395777955),
 (201, 0.498293070553171),
 (169, 0.498293065293076),
 (287, 0.49829306433101145),
 (337, 0.4982930586266882),
 (358, 0.49829305843291966),
 (344, 0.4982930573814311),
 (413, 0.498293052163256),
 (293, 0.4982930517354497),
 (378, 0.4982930473687364),
 (458, 0.4982930452471928),
 (215, 0.4982930441363418),
 (351, 0.4982930378227523),
 (339, 0.49829302577172035),
 (348, 0.49829302577172035),
 (338, 0.49829302287332583),
 (477, 0.49829302287332583),
 (552, 0.49829300381911024),
 (60, 0.4982929937891146),
 (203, 0.4982929930078214),
 (178, 0.4982929878498811),
 (40, 0.4982929724303168),
 (30, 0.4982929701196172),
 (573, 0.498292967667842),
 (274, 0.4982929558987354),
 (110, 0.49829294705240573),
 (476, 0.49829294705240573),
 (383, 0.49829294661962),
 (445, 0.49829294446989003),
 (78, 0.49829294283193537),
 (35, 0.4982929423535673),
 (417, 0.4982929423535673),
 (266, 0.4982929382184069),
 (132, 0.49829293420883863),
 (495, 0.4982929184886991),
 (336, 0.4982929081449419),
 (277, 0.4982929063490903),
 (120, 0.49829289296475265),
 (177, 0.4982928929647526),
 (398, 0.49829288250105647),
 (558, 0.49829288250105647),
 (20, 0.4982928766944533),
 (494, 0.4982928766944533),
 (457, 0.4982928739235341),
 (468, 0.4982928712361444),
 (374, 0.49829286528354305),
 (320, 0.4982928575495616),
 (449, 0.4982928575495616),
 (353, 0.49829285513043853),
 (425, 0.49829285513043853),
 (300, 0.4982928546592427),
 (75, 0.49829285278535784),
 (436, 0.49829285278535784),
 (17, 0.4982928522688985),
 (364, 0.49829285051132843),
 (419, 0.49829285051132843),
 (211, 0.49829284882137925),
 (93, 0.49829284770749915),
 (195, 0.49829284770749915),
 (550, 0.49829284553053366),
 (243, 0.49829283120230433),
 (125, 0.4982928293548787),
 (568, 0.4982928109001418),
 (238, 0.4982928077567251),
 (25, 0.498292807756725),
 (174, 0.4982928064716702),
 (375, 0.49829280374658125),
 (536, 0.4982928030915756),
 (505, 0.4982928024466461),
 (241, 0.49829280244664603),
 (557, 0.49829280118619834),
 (234, 0.49829279996365494),
 (98, 0.49829278764236873),
 (401, 0.4982927838867968),
 (115, 0.4982927636775238),
 (15, 0.4982927631936202),
 (331, 0.49829276319362015),
 (509, 0.49829276272452905),
 (39, 0.498292762724529),
 (448, 0.49829276226965186),
 (7, 0.4982927582800168),
 (64, 0.4982927579025308),
 (498, 0.4982927579025308),
 (390, 0.4982927575367491),
 (144, 0.49829275700898124),
 (186, 0.49829275700898124),
 (167, 0.4982927566704178),
 (521, 0.4981056582226647),
 (446, 0.4980967078218192),
 (224, 0.49809669606727774),
 (373, 0.4980960180332022),
 (481, 0.4980954417716394),
 (400, 0.49809491748551243),
 (465, 0.4980945138482941),
 (447, 0.4980939729565526),
 (508, 0.49809294760347356),
 (513, 0.49809286664312397),
 (545, 0.49809284221479977),
 (342, 0.49809270376537257),
 (96, 0.4980926653864804),
 (462, 0.4980926458184407),
 (257, 0.4980923732572252),
 (280, 0.49809232489329286),
 (245, 0.498092208710145),
 (34, 0.4980921119665418),
 (479, 0.4980921119665418),
 (520, 0.4980921119665418),
 (307, 0.4980919905398843),
 (529, 0.4980918945331262),
 (484, 0.49809185224507774),
 (153, 0.49809175185880994),
 (44, 0.4980916149180951),
 (182, 0.4980915750400072),
 (418, 0.49809157231455004),
 (183, 0.49809152593792133),
 (133, 0.4980914634948195),
 (335, 0.4980913519742202),
 (131, 0.4980913263004092),
 (572, 0.4980913165110771),
 (254, 0.49809131497646525),
 (8, 0.4980912617374032),
 (415, 0.498091230480573),
 (85, 0.49809121056634875),
 (80, 0.49809112001857014),
 (24, 0.4980911200185701),
 (391, 0.4980910708510945),
 (363, 0.49809101264754374),
 (146, 0.49809099784605),
 (345, 0.49809096347981285),
 (0, 0.4980909429220741),
 (142, 0.4980909320248844),
 (570, 0.4980909213453869),
 (227, 0.49809088416634556),
 (406, 0.49809088416634556),
 (228, 0.4980908827135081),
 (402, 0.498090877078904),
 (36, 0.4980908762001848),
 (392, 0.49809084810333737),
 (416, 0.49809084810333737),
 (327, 0.498090841889901),
 (442, 0.4980908275860215),
 (268, 0.49809082140425964),
 (5, 0.49809082076346717),
 (551, 0.4980908172415509),
 (459, 0.49809079509002085),
 (99, 0.49809076710453887),
 (76, 0.4980907513557248),
 (393, 0.4980907331743555),
 (73, 0.49809073013628463),
 (92, 0.4980907028463306),
 (450, 0.498090671222068),
 (112, 0.4980906697886972),
 (341, 0.4980906021414445),
 (55, 0.49809059952060364),
 (574, 0.49809055410921),
 (239, 0.49793207569430525),
 (453, 0.4979209759590683),
 (87, 0.4979124800979002),
 (179, 0.49791108960153657),
 (111, 0.4979109678268691),
 (519, 0.4979109435289709),
 (244, 0.4979096027073051),
 (352, 0.49790934033150447),
 (472, 0.49790927561880144),
 (65, 0.4979090751920341),
 (147, 0.4979087468788053),
 (431, 0.49790868634083946),
 (430, 0.4979086762464573),
 (333, 0.4979086218835863),
 (43, 0.4979085542382958),
 (311, 0.49790846310241416),
 (493, 0.4979084320669177),
 (435, 0.4979084232372542),
 (145, 0.49790835241235726),
 (565, 0.4979083139341648),
 (259, 0.49790821911657224),
 (84, 0.4979081850151235),
 (467, 0.4979081073440513),
 (23, 0.49790807547063554),
 (541, 0.4979080748120761),
 (516, 0.4979080496184855),
 (157, 0.497907961795448),
 (340, 0.49790792458522076),
 (324, 0.49790785873165727),
 (279, 0.4979078151268263),
 (427, 0.49790781294262487),
 (176, 0.49790780302225146),
 (432, 0.49790773850429726),
 (2, 0.49790772414591095),
 (49, 0.49790770125815553),
 (501, 0.4979076941580364),
 (193, 0.49790768717752276),
 (141, 0.4979076525619493),
 (491, 0.49790760232657355),
 (297, 0.49790749360373737),
 (534, 0.49790749360373737),
 (569, 0.4977477499081387),
 (170, 0.4977441113919743),
 (204, 0.49774246893411844),
 (399, 0.4977422058878344),
 (6, 0.49774190416299224),
 (538, 0.49774090361436185),
 (198, 0.4977402913779374),
 (196, 0.4977401082314697),
 (189, 0.49773993521406035),
 (74, 0.4977397405991479),
 (500, 0.4977397043283426),
 (200, 0.4977395592276581),
 (438, 0.49773953267171855),
 (323, 0.49773945649789975),
 (581, 0.4977392443590192),
 (380, 0.49773911397056264),
 (159, 0.4975847260286418),
 (443, 0.4975829848902874),
 (27, 0.49758284029722205),
 (250, 0.4975828233456052),
 (231, 0.49758271137320836),
 (359, 0.49758254541772584),
 (151, 0.49758249333986343),
 (130, 0.4975823303410033),
 (301, 0.49758212544447616),
 (233, 0.49743742688192855),
 (213, 0.4974347198773435),
 (165, 0.4974344315451663),
 (100, 0.49743431899276985),
 (554, 0.49730046652129745),
 (171, 0.49729456667521227),
 (260, 0.49716331968720534),
 (433, 0.4971628379514539),
 (124, 0.49626816659920303)]

In [336]:
nopreference_list = np.where(dataMat[0,:]==0)[0]
nopreference_list

array([   5,    6,    7, ..., 1308, 1309, 1310])

In [348]:
def predict_test(dataMat, user_id, user_index, list_index, similar_users, K):
    if len(similar_users) == 0:
        return 0.0
    print 'Target User:', user_id[user_index]
    numerator = 0.0
    denominator = 0.0
    index = 0
    print 'most_similar_users:'
    for key, values in similar_users:
        if(index == K):
            break
        if dataMat[key][list_index] != 0:
            neighbor_id = user_id[key]        
            neighbor_similarity = values
            rating = dataMat[key][list_index]
            print neighbor_id, neighbor_similarity, rating
            numerator += neighbor_similarity * rating
            denominator += neighbor_similarity
            index += 1
    result = numerator/denominator
    print 'Predict Score:', result
    return result

In [349]:
#test
predict_test(dataMat, review_id, 4, 5, similar_users, 3)

Target User: 183420
most_similar_users:
76903 0.6212422194931204 86
21500802 0.5744633182021677 86
Predict Score: 86.0

86.0

In [363]:
import operator
def most_similar_users(dataMat, userid, queryUser, k, metric=pearsSim):
    user  = dataMat[queryUser]
    sim = {}
    index = 0
    for i in dataMat:
        similarity = metric(i, user)
        if(similarity == 1):
            index = index + 1
            continue
        sim[index] = similarity
        index = index + 1
    sorted_keys = sorted(sim.items(), key=operator.itemgetter(1), reverse=True)
    index = 0
    for key, values in sorted_keys:
        if(index == k):
            break
        index += 1
    return sorted_keys

In [364]:
def predict(dataMat, user_id, user_index, list_index, similar_users, K):
    if len(similar_users) == 0:
        return 0.0
    numerator = 0.0
    denominator = 0.0
    index = 0
    for key, values in similar_users:
        if(index == K):
            break
        if dataMat[key][list_index] != 0:
            neighbor_id = user_id[key]        
            neighbor_similarity = values
            rating = dataMat[key][list_index]
            numerator += neighbor_similarity * rating
            denominator += neighbor_similarity
            index += 1
    result = numerator/denominator
    return result

In [370]:
def recommend_list(dataMat, user_id, list_id, queryUser, K):
    nopreference_list = np.where(dataMat[queryUser,:]==0)[0]
    predict_rating = {}
    sorted_most_similar_users = most_similar_users(dataMat, user_id, queryUser, K, metric=pearsSim)
    for item in nopreference_list:
        result = predict(dataMat, user_id, queryUser, item, sorted_most_similar_users, K)
        predict_rating[item] = result
    sorted_list = sorted(predict_rating.items(), key=operator.itemgetter(1), reverse=True)
    print 'Selected User:'
    print user_id[queryUser], '\n'
    print 'The listing we recommend to this user: ','\n'
    index = 0
    for key, values in sorted_list:
        if(index == K):
            break
        print list_id[key], '\n'
        print '----------------------'
        index += 1

In [371]:
recommend_list(dataMat, review_id, list_id, 4, 3)

Selected User:
183420

The listing we recommend to this user:

4785815

----------------------
1725110

----------------------
14167586

----------------------

(array([4]),)